<div>
    <div *ngIf="currentJob.id" class="edit-form">
      <h4>Job</h4>
      <form>
        <div class="form-group">
          <label for="name">Nome</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentJob.name"
            name="name"
          />
        </div>

       <div class="form-group">
          <label for="status">Status</label><br/>
          <label>
            
            <input type="radio"
            [(ngModel)]="currentJob.status" [value]="true" name="status"/> Ativo
          </label> <br/>
          <label>
            
            <input type="radio" [(ngModel)]="currentJob.status" 
            [value]="false" name="status"/> Inativo
          </label>
        </div>
  
      <div class="form-group">
        <label for="status">Tipo de Recorrência</label><br/>
        <label>
          
          <input type="radio" [(ngModel)]="currentJob.recurrence_type" 
          [value]="true" name="recurrence_type"/> Intervalo
        </label> <br/>
        <label>
          
          <input type="radio" [(ngModel)]="currentJob.recurrence_type" 
          [value]="false" name="recurrence_type"/> Horário Fixo
        </label>
      </div>
    </form>
  
      <button class="badge badge-danger mr-2" (click)="deleteJob()"> Delete </button>
  
      <button type="submit" class="badge badge-success mb-2" (click)="updateJob()">
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentJob.id">
      <br />
      <p>Não foi possível acessar este Job...</p>
    </div>
  </div>